section {
  border: 2px solid black;
  text-align: center;
  background-color: brown;
}
h1 {
  color: blue;
  background-color: aqua;
  font-size: 50px;
}
p {
  color: green;
  background-color: lightyellow;
  font-size: 30px;
}
